.Button {
  padding: 0.7rem 1.7rem;
  background-color: #203239;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 2rem;
  font-size: 18px;
  color: #fff;
  transition: all 0.3s ease;
}
.Button:hover {
  cursor: pointer;
  background-color: #22343b;
}
.Button.danger {
  background-color: #b9164798;
}
.Button.danger:hover {
  background-color: #b91647b4;
}
