.NavigationItem {
  margin: 0 5px;
}
.navigation-link {
  text-decoration: none;
  padding: 1rem;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease;
}
.navigation-link:hover {
  background-color: #141e27;
}
.active {
  background-color: #141e27;
}
@media (max-width: 500px) {
  .NavigationItem {
    margin: 2px auto;
  }
  .navigation-link {
    display: block;
    padding: 0.3rem;
    font-weight: 400;
  }
}
