.control {
  margin-bottom: 1rem;
}
.disabled {
  cursor: not-allowed !important;
}
.error {
  font-weight: 400;
  color: rgb(255, 238, 0);

  animation: animateError 1s ease-out forwards;
}

.control label {
  display: block;
  color: #fff5f5;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}
.control input,
.control select {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  color: #4a5568;
  border: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.control textarea {
  resize: none;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: none;
}
.control textarea:focus {
  outline: none;
}
.actions {
  display: flex;
  margin: 0 2rem;
  justify-content: space-between;
}
.button {
  border: none;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.7rem 2rem;
}
.clear {
  background-color: transparent;
  outline: 1px solid #fff;
}
.clear:hover {
  background-color: #fff;
  color: #333;
  cursor: pointer;
}
.cancel {
  background-color: #c07373f0;
  color: #fff;
  margin-right: 1rem;
}
.cancel:hover {
  background-color: #926767;
  cursor: pointer;
}
.submit {
  background-color: #3e5e92;
}
.submit:hover {
  background-color: #486eaa;
  cursor: pointer;
}
@media (max-width: 580px) {
  .button {
    margin: 0.25rem 0;
    padding: 0.5rem 1.5rem;
  }
  .actions {
    flex-direction: column;
  }
  .actions > div {
    display: flex;
    flex-direction: column;
  }
}

@keyframes animateError {
  from {
    opacity: 0.4;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
