.navigation {
  text-align: center;
}
.title {
  font-size: 2rem;
  color: #fff;
}
.nav-items {
  margin: 1rem 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.leftSide {
  display: flex;
  align-items: center;
}
.rightSide {
  display: flex;
  align-items: center;
}
.nav-item {
  color: #fff;
}

.nav-item-link {
  width: 100%;
  height: 100%;
  padding: 0.6rem 1.2rem;
  color: #fff;
}
.nav-item-link:hover,
.nav-item-link:active {
  background-color: #f36161;
}
.active {
  background-color: #f36161;
}
.nav-item-button {
  margin: -0.25rem 0 0 1rem;
}
.nav-item-user {
  text-decoration: underline;
}
.divider {
  height: 2rem;
  width: 2px;
  background-color: #333;
}
