#Dialog {
  margin: auto;
  max-width: 600px;
  max-height: 300px;
  background-color: #f4f4f4;
  color: #000;
  position: relative;
}

#Dialog .dialog-content {
  display: flex;
}
#Dialog .dialog-content .content-img {
  width: 150px;
  height: 100%;
  margin: 1rem;
}
#Dialog .dialog-content .content-img .content-icon {
  display: block;
  font-size: 6rem;
  margin: auto;
  padding: 1rem;
  color: green;
}

#Dialog .dialog-content .content-info {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  text-align: center;
}
#Dialog .dialog-controls {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
