.mx-1 {
  margin: 0 1rem;
}

.Card {
  display: flex;
  background-color: #203239;
  width: 500px;
  height: 300px;
  /* padding: 1rem; */
  border-radius: 12px;
}
.card-img {
  width: 200px;
  height: 200px;
  margin: auto;
}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 10px;
}
.card-info {
  padding: 1rem;
  margin: auto;
}
.card-info-fullname {
  border-bottom: 1px solid #fff;
}
.card-info-location {
  font-size: 14px;
  margin-bottom: 1rem;
  margin-top: -1rem;
  opacity: 0.8;
}
.card-info span {
  margin-right: 7px;
}
.card-info-user-info p {
  color: #b5bec2;
  font-weight: 600;
  font-size: 15px;
}
.card-info-user-info p span {
  position: relative;
  opacity: 1;
  color: #fff;
}
.card-info-font-icon {
  position: absolute;
  margin: 0 5px;
  font-size: 16px;
}
.card-info-font-icon:hover {
  font-size: 18px;
}

@media (max-width: 500px) {
  .Card {
    padding-top: 1rem;
    flex-direction: column;
    width: auto;
    height: auto;
  }
}
