:root {
  --primary-color: #203239;
  --winner-color: #06633c6e;
}

@media (max-width: 500px) {
  .ListItem > * {
    margin: 0;
    padding: 0;
  }
  .ListItem {
    flex-direction: column;
    align-items: center;
  }
  .list-item-body {
    flex-direction: column;
  }
  .list-item-border {
    background-color: #f4f4f479;
    width: 1px;
  }
  .list-item-thumbnail {
    padding: 0;
    margin: auto;
  }
  .list-item-thumbnail img {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  .list-item-info-container {
    margin: -1rem;
    padding: 0;
  }
}

.ListItem {
  display: flex;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 3px rgba(25, 105, 119, 0.3);
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 5px;
  list-style: none;
}
.ListItem.winner {
  background-color: var(--winner-color);
}
.list-item-border {
  background-color: #f4f4f479;
  width: 1px;
  margin: 15px 0;
  /* height: ; */
}
.list-item-thumbnail {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  padding: 1rem;
}
.list-item-thumbnail img {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.list-item-body {
  display: flex;
}
.list-item-info-container {
  margin: 1rem;
  background-color: #1a2e36;
  border-radius: 12px;
  padding: 1rem;
}
.list-item-info-container span {
  display: inline-block;
  margin-top: 1rem;
}
